<!DOCTYPE html>
<html>
  <head>
    <title>CASTNXT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
      <!--<div class="container">
        <div class="navbar navbar-dark bg-dark navbar-expand-lg">Navbar</div>
      </div>-->
    <%= yield %>
  </body>
</html>
