.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.even-row {
    background-color: lightblue; /* Style for even rows */
}

.odd-row {
    background-color: lightgrey; /* Style for odd rows */
}